<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robosoft.foursquare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FourSquare">
        <activity
            android:name=".view.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".view.SearchActivity"
            android:exported="true"
            android:theme="@style/AddReviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.FavouritesActivity"
            android:exported="true"
            android:theme="@style/AddReviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.FeedbackActivity"
            android:exported="true"
            android:theme="@style/AddReviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.AddReview"
            android:exported="false"
            android:theme="@style/AddReviewTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.ImageDetails"
            android:exported="false" />
        <activity
            android:name=".view.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".view.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".view.PlaceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB2gUXijgN5MDWN_Wf6Dby55XYPSkgjLmQ" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>